body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

.app__container {
  width: 100%;
  max-width: 1244px;
  margin: 0 auto;
}

.app__header {
  padding: 8px 10px;
  display: flex;
  margin-bottom: 16px;
}

.app__logo {
  margin-right: 8px;
}

.app__title {
  margin: 0;
  font-family: 'Bitter', serif;
  font-size: 1.618em;
}

.channel__header {
  margin-bottom: 16px;
  padding-left: 10px;
}

.channel__header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.2s ease;
}

.channel__header-link:visited {
  color: black;
}

.channel__header-link:hover {
  color: #f9690e;
  text-decoration: underline;
}

.channel__icon {
  margin-right: 8px;
}

.channel__title {
  margin: 0;
}

.channel__content {
  display: flex;
}

.channel__list {
  width: 320px;
  margin: 0;
  padding: 0 10px;
  list-style: none;
  box-sizing: border-box;
}

.channel__list-item {
  padding: 4px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.channel__link {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  transition: color 0.1s ease;
}

.channel__link:hover {
  color: #f9690e;
}
